@import "tailwindcss";

:root {
  --background: #f5fafa;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .loader {
  margin: 20px auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 #454545 inset;
  }
  100% {
    box-shadow: 48px 0 #454545 inset;
  }
} */

.loader {
  margin: 20px auto;

  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: skLinRotate 1s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ff3d00;
}

@keyframes skLinRotate {

  95%,
  100% {
    transform: rotate(840deg)
  }
}

.loading {
  animation: load 1s infinite;
}

@keyframes load {

  from,
  to {
    opacity: .7;
  }

  50% {
    opacity: .2;
  }
}

